<div style='width: 500px; height: 320px;'>
    {{text}}
    <div style='padding: 6px 0'>
        <input class='js-select-tag_ select-tag_'>
        <div class='js-tag-path_ text-muted' style='padding-top: 10px;'/>
        <div class='note_ small text-muted'>{{note}}</div>
        <div class='yes-no-toolbar_ btn-toolbar' role='toolbar'>
            <button class='js-confirm-accept-btn dialog-btn_ btn btn-sm btn-primary disabled' type='button'>OK</button>
            <button class='js-cancel-btn dialog-btn_ btn btn-sm btn-default' type='button'>Cancel</button>
        </div>
    </div>
</div>